NEXT_PUBLIC_SANITY_PROJECT_ID=kiftfbv2
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333
SANITY_API_READ_TOKEN=skwcdNUpZzgihQVzy6svhnCLt8IJYfrHSF3jm9gHI9pln6u1ahXXisyL0X4Dem3W5mXWh5LikTSXndNabp5s6pA1XPmgdPshOE8EYStcwuqqAeJabYuy9jKGQzbUK4NL2DR9NZjqvvx6gLehwbYBMvADMbZFSPh45LsljNmxyIDiUZ85wins